body, html, header, h1, h2, nav, ul, li, p {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 100%;
  font: inherit;
}
body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1) 41%, rgba(0, 0, 0, 0)), url('assets/Stadium.JPG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;

}
.frontPage {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
p {
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-family: "Cantata One", serif;
  font-size: 2em;
  font-weight: bold;
  line-height: 2em;
  color: #eee;
  border-bottom: solid 5px #eee;
  padding: 0 30px;
}
h2 {
  font-family: "Cantata One", serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5em;
  color: #eee;
  padding: 20px 60px 20px 10px;
}
nav {
  width: 100vw;
  display: flex;
  justify-content: flex-end;

}

#headingColor {
  background-color: #eeeeee;
}
#paragraphColor {
  background-color: #000000;
}
#backgroundColor {
  background-color: #050015;
}
#highlightColor {
  background-color: #9A0800;
}
@media screen and (min-width:850px) {
  body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1) 41%, rgba(0, 0, 0, 0)), url('assets/stadiumPortrait.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    }


}
/*header {
  background-color: #000;
  color: #eeeeee;
  font-family: "cantata one", serif;
  padding: 20px 0 20px 20px;
}*/

/*h2 {
  font-family: "cantata one", serif;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5em;
}
li {
  display: inline;
  padding: 10px 20px 10px 20px;
}

header nav {
  float: right;
  padding-right: 30px;
}
header h2 {
  padding-top: 10px;
}
header li:hover {
  background-color: darkgray;
}*/
